.container-detail {
  max-width: 95%;
  margin: auto;
  height: auto;
  display: flex;
}

.left-retail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main_image {
  width: calc(100% - 172px);
  height: 530px;
  overflow: hidden;
}

.main_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.option.flex1 {
  width: 152px;
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 14px;
  cursor: pointer;
}

.option.flex1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.right-retail {
  width: 50%;
  padding: 50px 100px 50px 50px;
}

@media only screen and (max-width: 768px) {
  .container-detail {
    flex-direction: column;
  }

  .left,
  .right-retail {
    width: 100%;
  }

  .main_image {
    height: 300px;
  }

  .option {
    flex-direction: row;
    width: 100%;
  }

  .option img {
    width: 30%;
  }
}

@media only screen and (max-width: 511px) {
  .container-detail {
    max-width: 100%;
    padding: 10px;
  }

  .main_image {
    height: 200px;
  }

  .option img {
    width: 100%;
  }
}

.left-retail {
  width: 50%;
  padding: 30px;
  position: relative;
}

.option.flex {
  display: flex;
  justify-content: flex-start;
}

.option img {
  width: calc(33.33% - 20px);
  margin-left: 10px;
  object-fit: cover;
}

.left-retail,
.right-retail {
  width: 50%;
  padding: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  display: flex;
}

.main_image {
  width: 444px;
  height: 530px;
  overflow: hidden;
}
.main_image img {
  width: 100%;
  height: 100%;
}
.option img {
  padding: 10px;
  object-fit: contain;
}

.right-retail {
  padding: 50px 100px 50px 50px;
}

.right-retail h3 {
  font-family: "Integral CF";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

p-details {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

label,
.add span,
.color span {
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  margin: 20px 10px 20px 0;
}

.color span:nth-child(2) {
  background: #ededed;
}

.color span:nth-child(3) {
  background: #d5d6d8;
}

.color span:nth-child(4) {
  background: #efe0de;
}

.color span:nth-child(5) {
  background: #ab8ed1;
}

.color span:nth-child(6) {
  background: #f04d44;
}

.add label,
.add span {
  background: none;
  border: 1px solid #c1908b;
  color: #c1908b;
  text-align: center;
  line-height: 25px;
}

.add label {
  padding: 10px 30px 0 20px;
  border-radius: 50px;
  line-height: 0;
}

.cart-button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: red;
  color: white;
  margin-top: 20%;
  border-radius: 30px;
}

.tab-button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: red;
  color: white;
  border-radius: 30px;
  margin: 40px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .option img {
    width: calc(50% - 10px);
  }

  .main_image {
    height: 300px;
  }

  .left-retail,
  .right-retail {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 511px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .main_image {
    height: 200px;
  }
  .left-retail,
  .right-retail {
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .option {
    display: flex;
    flex-wrap: wrap;
  }

  .option img {
    width: 100%;
    margin-left: 0;
  }
}

.tabs {
  display: flex;
  width: 100%;
  height: auto;
}

.tab-button.active {
  background-color: #ccc;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}
.tab-button:hover {
  background-color: #eaeaea;
}

.tab-content {
  padding: 20px 0;
}

.tab-pane {
  margin: 0;

  display: none;
}

.tab-pane.active {
  display: block;
}

.testimonials {
  text-align: center;
  padding: 28px 92px;
  background-color: white;
  border-radius: 20px;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.testimonials-header h2 {
  font-family: "Integral CF", sans-serif;
  font-size: 36px;
  font-weight: 700;
  width: 80%;
  text-align: left;
}

.testimonial-navigation {
  display: flex;
  align-items: center;
}

.nav-link {
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center;
}

.testimonials-content {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
  gap: 20px;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.rating {
  display: flex;
  margin: 10px 0px 10px 0px;
  align-items: center;
  justify-content: flex-start;
}

.star {
  color: gold;
  font-size: 24px;
}

.user-info {
  align-items: center;
  text-align: left;
}
.user-info svg {
  margin-bottom: -5px;
}

.user-name {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
}

.verified {
  color: green;
  font-size: 18px;
  margin-left: 5px;
}

.testimonial-text {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #555;
}

@media (min-width: 768px) {
  .testimonial {
    flex: 1 1 calc(50% - 20px); /* 25% da largura menos o espaçamento entre itens */
  }
}

@media (max-width: 425px) {
  .testimonial-item {
    flex: 0 0 100%; /* Em telas menores, cada item ocupa 100% da largura do container */
  }
  .testimonials-header h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .user-name {
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
  }
  .testimonial-text {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .testimonials-header h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

/*-----------------------------------*\
    #PRODUCT GRID
  \*-----------------------------------*/

.product-main {
  margin-bottom: 30px;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
}


.product-grid .showcase-banner {
  position: relative;
}




.product-grid .showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover {
  color: var(--eerie-black);
}


.product-grid .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.product-grid .price {
  font-weight: var(--weight-700);
}

.product-grid del {
  color: var(--sonic-silver);
}

/*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/

/**
   * responsive larger than 480px screen
   */
  
@media (min-width: 480px) {
  .product-grid {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

/**
   * responsive larger than 570px screen
   */

@media (min-width: 570px) {
  /**
     * #CATEGORY
     */

  .category-item-container {
    gap: 30px;
  }

  .category-item {
    min-width: -webkit-calc(50% - 15px);
    min-width: calc(50% - 15px);
  }
}

/**
   * responsive larger than 768px screen
   */



/**
   * responsive larger than 1024px screen
   */

@media (min-width: 1024px) {
  /**
     * #CATEGORY 
     */

  .category-item {
    min-width: -webkit-calc(33.33% - 20px);
    min-width: calc(33.33% - 20px);
  }

  .category-img-box {
    padding: 10px;
  }
}

/**
   * responsive larger than 1200px screen
   */

@media (min-width: 1200px) {
  /**
     * #CATEGORY
     */

  .category-item {
    min-width: -webkit-calc(25% - 22.5px);
    min-width: calc(25% - 22.5px);
  }

  .category-item-title {
    --fs-9: 0.824rem;
  }
}


.all-details {
  width: 218px;
  height: 52px;
  top: 1548px;
  left: 611px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px solid #0000001a;
  opacity: 0px;
  cursor: pointer;
  margin: 20px 0;
  background-color: white;
  align-items: center;
  justify-content: center;
}



/*----------------------------- Arrivals ---------------------------------------*/
  
.new-arrivals {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 200px;
}

.new-arrivals h2 {
  font-family: "Integral CF";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  margin: 50px 0;
}

.new-arrivals button {
  width: 218px;
  height: 52px;
  top: 1548px;
  left: 611px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px solid #0000001a;
  opacity: 0px;
  cursor: pointer;
  margin: 20px 0;
  background-color: white;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  border-radius: 20px;
  text-align: flex-start;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(295px - 0px);
  box-sizing: border-box;
}

.product .image-container {
  background-color: var(--background-product);
  width: 295px;
  height: 298px;
  border-radius: 8px;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.product h3 {
  margin: 10px 0;
  font-family: "Satoshi";
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: -10px;
}
.star {
  font-size: 24px;
  color: #ffd700;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.star.half {
  position: relative;
}

.star.half::before {
  content: "\2605";
  font-size: inherit;
  color: #ffd700;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.star.half {
  color: transparent;
}
.score {
  margin: 10px 0px 5px 5px;
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}
.focus {
  opacity: 0.8;
}
.price {
  margin-top: -8px;
  font-family: "Satoshi";
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-price {
  text-decoration: line-through;
  color: var(--discount-color);
}

.discount {
  padding: 6px 14px 6px 14px;
  gap: 12px;
  border-radius: 62px;
  background-color: #ff33331a;
  color: #ff3333;
  font-family: "Satoshi";
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
}
@media (max-width: 768px) {
  .product {
    width: calc(50% - 10px);
  }
  .new-arrivals button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
  }
}