/*----------------------------- Newsletter ---------------------------------------*/

.newsletter-container {
  display: flex;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 999;
  margin-top: -90px;
  align-items: center;
  justify-content: center;
  right: 10%;
  padding: 28px 32px 28px 32px;
}
.left-content {
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  border-radius: 20px;
}
.left-content p {
  font-family: "Integral CF";
  font-size: 40px;
  line-height: 45px;
}
.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 12px;
}

.right-content svg {
  position: absolute;
  bottom: 20%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #333;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.right-content input[type="email"]::placeholder {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.right-content input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 62px;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
}

.right-content button {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 62px;
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  font-family: "Satoshi";
  font-weight: 500;
  line-height: 21.6px;
}
.right-content button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .left-content {
    flex: 1.1;
  }
  .left-content p {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .newsletter-container {
    flex-direction: column;
    gap: 32px;
  }
  .left-content p {
    font-size: 20px;
    line-height: 25px;
  }
}

/*----------------------------- Footer ---------------------------------------*/

footer {
  width: 100%;
  color: var(--color-neutral-40);
  position: relative;
}

.footer-link {
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;  
  text-decoration: none;
}

#footer_content {
  background-color: var(--search-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 8rem 3.5rem;
  gap: 1rem;
  color: black;
}

#footer_contacts h3 {
  font-family: "Integral CF";
  font-size: 33.45px;
  font-weight: 700;
  line-height: 40.15px;
  margin-bottom: 0.75rem;
}

#footer_contacts p {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 80%;
  margin-top: 20px;
}

#footer_social_media {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  gap: 10px;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list li h3 {
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  margin-bottom: 26px;
}
.footer-list li {
  margin-bottom: 26px;
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer-list li a {
  color: var(--neutral-color);
}
.footer-list .footer-link {
  color: #00000099;
  
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: black;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: space-between;
  background-color: var(--search-color);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  color: #00000099;
  padding-bottom: 88px;
}
@media (max-width: 1200px) {
  #footer_content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  #footer_content {
    grid-template-columns: repeat(3, 1fr);
  }

  #footer_contacts {
    grid-column: span 2;
  }

  .footer-list {
    grid-column: span 1;
  }
}
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
  }

  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 200px;
  }

  #footer_contacts {
    grid-column: span 2;
  }
  #footer_copyright {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
  }

  #footer_copyright .payments {
    flex-wrap: wrap;
    gap: 15px;
  }

  #footer_copyright svg {
    width: 40px;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 2fr);
    padding: 5rem 1rem;
    padding-top: 200px;
  }
}
